div { border: 1px dotted pink }
p   { border: 1px solid green }
a   { border: 2px solid yellow }
li  { border: 1px dashed cyan }
img { border: 1px solid purple}
*:hover { 
    outline:1px blue solid;
  } 

body {
    background: rgb(124, 156, 108);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(57, 90, 64);
    margin: 0px;
    padding: 20px;
}
h1 {
    color: rgb(212, 226, 212);
    background: ;
    font-size: 45px;
    text-align: center;
}

.info {
    text-align: center;
}

.info ul {
    display: table;
    margin: 0 auto; 
    padding: 0;
    list-style-type: none;

}

.info li {
    display: inline;
    margin: 0 100px 0 0;
}

section {
    background-color: rgb(160, 199, 162);
    padding: 0;
    margin: 0;
}
section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p { 
    color: black;
    padding: 5px 10px;
    font-size: 20px
}

.pages {
    color: green;
    display: flex;
    padding: 10px;
    font-size: 20px;
}
button {
    width: 180px;
    height:
    font-size: ;
}
img.button  {
    display: flex;
    vertical-align: middle;
    object-fit: cover;
    margin: 10%;
    width: 100px;
}

.container_about div {
    display: flex;
    align-items: center;
}

.container_about p{
    color: rgb(10, 31, 3);
}

h2 { 
    color: black;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 70px;
    text-shadow: 2px 2px rgb(131, 131, 131);
}
.plantcoverimg {
    opacity: 25%;
    height:;
}




.plantlist h4 {

}


.scientific {
    font-style: italic;
    padding: 1px;
    margin: 2px;
}
.general  {
    font-size: 25px;
    padding: 0;
    margin-top: 100px;
    margin-bottom: 5px;

}

.plantsintro {
    margin: 0px;
    padding: 0 10%;
}
.plantlist p{
    font-size: 20px;
    width: 100%;
    
}
.planttitle{
    text-align: center;
    margin: 0 0%;
    padding: 1% 2%;
    font-size: 250%;
}
.plantlist  li{
    list-style-type: none;
    color: black;
    display: flex;
    width: 100%
}


.listitem {
    overflow: hidden;
    width: 50%;
    margin: 2% 0%;
    display: flex;
    vertical-align: center;
    
}

.image {
    float: left;
    overflow: hidden;
    width: 50%;

}

.plantimage {
    height: 250px; 
    width: 250px;
    object-fit: cover;
}



.plantinfo {
    text-align: center;
    padding: 0 0%;
    margin: 0% 0%;
    width: 50%;
    
}

img.plantimage:hover {
    
}

.plantcoverimg {
    height: auto;
    width: auto;
}

.imageinstruction {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}